.main {
  margin-left: 250px;
  display: flex;
  max-width: 900px;
  width: 100%;
  flex-direction: row;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.MainPart1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 100%;
}
.LargeInvoiceNumber {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
}


.General-Info {
  background: #6A1B9A;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.G1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}

.G2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .General-Info {
    flex-direction: column;
    align-items: flex-start;
  }
}


.textG2 {
  color: var(--text-color-pure-white, #ffffff);
  text-align: right;
  font-family: var(--size-14-size-14-medium-font-family,
      "KumbhSans-Medium",
      sans-serif);
  font-size: var(--size-14-size-14-medium-font-size, 14px);
  font-weight: var(--size-14-size-14-medium-font-weight, 500);
}

.card-theme-off {
  background: var(--gray-gray-2, #eae9e9);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.card-theme-off .invoice-number {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}

.card-theme-off .invoice-number2 {
  color: var(--text-color-text-1, #1b212d);
  text-align: left;
  font-family: var(--extra-font-size-18-semibold-font-family,
      "KumbhSans-SemiBold",
      sans-serif);
  font-size: var(--extra-font-size-18-semibold-font-size, 18px);
  font-weight: var(--extra-font-size-18-semibold-font-weight, 600);
}

.card-theme-off .info {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 10px;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}

.card-theme-off .Text2 {
  color: var(--text-color-text-3, #78778b);
  text-align: left;
  font-family: var(--size-14-size-14-medium-font-family,
      "KumbhSans-Medium",
      sans-serif);
  font-size: var(--size-14-size-14-medium-font-size, 14px);
  font-weight: var(--size-14-size-14-medium-font-weight, 500);
}

.card-theme-off .billed-to {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}

.card-theme-off .billed-to2 {
  color: var(--text-color-text-1, #1b212d);
  font-family: var(--extra-font-size-18-semibold-font-family,
      "KumbhSans-SemiBold",
      sans-serif);
  font-size: var(--extra-font-size-18-semibold-font-size, 18px);
  font-weight: var(--extra-font-size-18-semibold-font-weight, 600);
}

.card-theme-off .info2 {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}

.item-details {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
}

.item-details2 {
  color: var(--text-color-text-1, #1b212d);
  text-align: left;
  font-family: var(--size-16-size-16-semibold-font-family,
      "KumbhSans-SemiBold",
      sans-serif);
  font-size: var(--size-16-size-16-semibold-font-size, 16px);
  font-weight: var(--size-16-size-16-semibold-font-weight, 600);
  position: relative;
}

.TextDetails {
  padding-top: 5px;
  color: var(--text-color-text-1, #aaabad);
  text-align: left;
  font-family: var(--size-16-size-16-semibold-font-family,
      "KumbhSans-SemiBold",
      sans-serif);
  font-size: var(--size-14-size-14-semibold-font-size, 12px);
  font-weight: var(--size-16-size-16-semibold-font-weight, 600);
  position: relative;
}
.input-container {
  padding-top: 5px;
  flex-shrink: 0;
  width: 100%;
  display: flex;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #1b212d;
  background-color: #fff;
  font-family: "KumbhSans-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  transition: all 0.3s ease-in-out;
}