* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fbfbfb;
  font-family: "Euclid Circular A", sans-serif;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.app-icon {
  width: 40px;
  height: 40px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 100%;
  padding: 16px;
  background: #f7f4f4;
  border-right: 1px solid #e9e9e9;
  transition: width 0.4s;
}

.sidebar-header {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.sidebar-nav {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.sidebar-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ddd;
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #929eae;
  border-radius: 8px;
  transition: 0.3s, color 0.3s;
  text-decoration: none;
}

.nav-button .icon {
  font-size: 20px;
}

.nav-button:hover {
  background: #ac7ec9;
  color: #ffffff;
  font-weight: 600;
}

.nav-button.active {
  background: #6A1B9A;
  color: #ffffff;
  font-weight: 600;
}

.logout-button {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #d9534f;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
  text-decoration: none;
}

.logout-button .icon {
  font-size: 20px;
}


.logout-button:hover {
  background: rgba(217, 83, 79, 0.1);
  color: #c9302c;
}


.logout-button:focus {
  outline: 2px solid #c9302c;
  background: rgba(217, 83, 79, 0.15);
}


.logout-button:active {
  background: rgba(217, 83, 79, 0.2);
  color: #a94442;
}